*{
    padding: 0px;
    margin: 0px;
}
img{
    margin-bottom: -3px;
   width: 100vw; 
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
a{
    display: block;
    background-color: darkred;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: white;
    transition-duration: 0.1s;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-direction: normal;
}
a:hover{
    font-size: 1.4em;
    transition-duration: 0.2s;
}
@keyframes aparecer{
    0%{padding: 0px;}
    100%{padding:20px;}
}